h1 {
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: justify;
}

<!-- Style de button "Material Design" repris de http://codepen.io/iraycd/pen/dHrxv -->

.button {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
}

a:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}

.center {
    text-align: center;
}

a {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    float: right;
    margin-bottom: 10px;
    color: black;
    font-variant: small-caps;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    padding: 5px;
    background-color: #D6D7D7;
}
